@charset "UTF-8";

header{
    padding: 0.2rem;
    background-color: teal;
    color:#ccc;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
}

main > div {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

main > div img{
    width: 45%;
}

main > div div{
    width: 40%;
}

main > div:nth-child(2){
    flex-direction: row-reverse;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 60px;
}
.youtube{
    justify-content: center;
}

@media (max-width: 500px){
    main > div {
        flex-direction: column;
        align-items: center;
    }
    main > div:nth-child(2){
        flex-direction: column;
    }
}
